/*
* @Author: zhang
* @Date:   2017-10-05 10:29:18
* @Last Modified by:   zhang
* @Last Modified time: 2017-10-14 10:05:57
*/
body{
	background: #e5e5e5;
}
.admingoback{
	font-size:30px;
	padding:20px 0;
}
.progress{
	display: none;
}
.form-group {
	overflow: hidden;
	label{
		float:left;
	}
	.showImg{
		float:left;
		width:100px;
		height:100px;
		margin-right:20px;
	}
}

