/*
* @Author: zhang
* @Date:   2017-10-04 10:02:57
* @Last Modified by:   zhang
* @Last Modified time: 2017-10-14 18:06:29
*/

body {
    background: #f6f6f6;
}

.back {
    display: none;
}

.main-big {
    min-width: 1120px;
    margin: auto;
    .main {
        width: 1120px;
        min-height: 700px;
        overflow: hidden;
        margin: 40px auto;
        .main-left {
            float: left;
            box-sizing: border-box;
            width: 710px;
            min-height: 700px;
            background: #fff;
            padding: 40px;
            .article-top{
            	overflow: hidden;
            	margin-bottom:10px;
            	img{
            		float:left;
            		width:60px;
            		height:60px;
            		border-radius:50%;
            		margin: 0 15px;
                    margin-left:0;
            	}
            	.title{
            		float:left;
            		h1{
        			    font-size: 22px;
					    color: #434343;
                        font-weight:100;
					    padding-bottom: 5px;
                        padding-left:8px;
            		}
            		span{
						i{
							float:left;
							margin-left:10px;
							font-style:normal;
						}
                        em{
                            margin-left:10px;
                            background: #444;
                            color:#fff;
                            font-style:normal;
                            font-size:12px;
                            padding:0 10px;
                            border-radius:10px;
                        }
            		}
            	}
            }
            .article{
                
                    margin-bottom:80px;
                    line-height:24px;
                    font-size:12px;
                    color:#333;
            	img{
                    width:100%;
                    vertical-align: bottom;
                }
            }

            .pinglun{
				h3{
					font-size:20px;
					color:#999;
					padding-bottom:15px;
				}
            	textarea{
                    box-sizing:border-box;
            		width:100%;
            		height:120px;
            		outline:none;
                    background: #f7f8fa;
                    padding:10px;
                    font-size:18px;
                    border-color:#fff;
                    resize:none;
            	}
                button{
                    margin-left:520px;
                    margin-bottom:30px;
                    margin-top:10px;
                    width:100px;
                    height:30px;
                    border:none;
                    border-radius:5px;
                    color:#fff;
                    background: #50c8d7;
                    outline:none;
                }
                .pinglun{
                    width:100%;
                    height: auto;
                    ul{
                        .pinglun-list{
                            width:100%;
                            overflow: hidden;
                            padding-bottom:15px;
                            margin-bottom:15px;
                            border-bottom:1px dashed #ccc;
                            .pinglun-tx{
                                float:left;
                                width:45px;
                                height:45px;
                                img{
                                    width:100%;
                                    height:100%;
                                    border-radius:50%;
                                }
                            }
                            .pinglun-main{
                                float:left;
                                width:560px;
                                padding-left:20px;
                                div:nth-of-type(1){
                                    width:100%;
                                    height:20px;
                                    margin-bottom:10px;
                                    overflow: hidden;
                                    a:nth-of-type(1){
                                        float:left;
                                        font-size:14px;
                                        color:#50c8d7;
                                    }
                                    span{
                                        float:left;
                                        margin-left:10px;
                                        font-size:14px;
                                    }
                                    a:nth-of-type(2){
                                        float:right;
                                        font-size:14px;
                                        color:#50c8d7;
                                    }
                                }
                                div:nth-of-type(2){
                                    font-size:14px;
                                    color:#313131;
                                }
                            }

                        }
                    }
                }
            }
        }
        .main-right {
            float: left;
            box-sizing: border-box;
            margin-left: 30px;
            width: 380px;
            .fatie {
                margin-bottom: 30px;
                background: #fff;
                padding:15px 25px;
                button {
                    width: 100%;
                    height: 40px;
                    border: none;
                    border-radius: 5px;
                    background: #fcb616;
                    color: #fff;
                    font-size: 16px;
                    letter-spacing: 3px;
                    line-height: 40px;
                    outline: none;
                    cursor: pointer;
                    margin-bottom: 10px;
                    i {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        vertical-align: middle;
                        background: url(../img/icon/fatie.png) no-repeat;
                        background-size: 16px;
                        margin-right: 10px;
                    }
                }
                span{
                	display:inline-block;
                	width:60px;
                	text-align:center;
                	cursor: pointer;
                	color:#666;
                }
                span:nth-of-type(1){
                	i{
                		display:inline-block;
                		width:16px;
                		height:16px;
                		vertical-align: bottom;
                		background: url(../img/icon/pinglun.png) no-repeat;
                		background-size:16px; 
                		padding-right:8px;
                	}
                }
                span:nth-of-type(3){
                	i{
                		display:inline-block;
                		width:16px;
                		height:16px;
                		vertical-align: bottom;
                		background: url(../img/icon/zan.png) no-repeat;
                		background-size:16px; 
                		padding-right:8px;
                	}
                }
                span:nth-of-type(5){
                	i{
                		display:inline-block;
                		width:16px;
                		height:16px;
                		vertical-align: bottom;
                		background: url(../img/icon/fenxiang.png) no-repeat;
                		background-size:16px; 
                		padding-right:8px;
                	}
                }
            }
            .geren {
            	width:100%;
                min-height:700px;
            	box-sizing:border-box;
                background: #fff;
                padding:25px;
                img {
                    vertical-align: bottom;
	                width:330px;
	                height:180px;
	                background: #e5e5e5;
	                border:none;
                }
                
                .other{
                	width:100%;
                	border-bottom:1px solid #ccc;
                	min-height:230px;
                    margin-top:30px;
					h3{
						margin-bottom:10px;
						a{
							float:right;
							font-weight:100;
							font-size:16px;
						}
					}
					p{
                        width:100%;
                        overflow: hidden;
                        text-overflow:ellipsis;
                        white-space: nowrap;
						a{
							display: inline-block;
							margin-bottom:10px;
							

						}
					}

                }
            }
        }
    }
}