<?xml version="1.0" encoding="UTF-8"?>
<!-- 测试使用xml的方式操作数据，因为动态sql就是针对于xml文件的，对接口代码没有影响，影响的只是xml文件 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.PostDao">
	
	<resultMap type="tag" id="tagbean">
		<id property="tag_id" column="tag_id"/>
		<result property="tag_name" column="tagname"/>
		<!-- <collection property="postList" ofType="post">
			<id property="post_id" column="post_id"/>
			<result property="date" column="date"/>
			<result property="title" column="title"/>
			<result property="content" column="content"/>
			<result property="like" column="like"/>
			<result property="views" column="views"/>
			<result property="show" column="show"/>
		</collection>	 -->
	</resultMap>
	<!-- 查询热门标签 -->
	<select id="getHotTagList" resultMap="tagbean">
		SELECT tag_id, tagname, COUNT(*) FROM tag GROUP BY tagname ORDER BY COUNT(*) DESC 
	</select>
	
	<!-- 添加标签 -->
	<insert id="addTag" parameterType="java.util.List">
		insert into tag (tagname,post_id) values
		<foreach collection="list" item="t" separator=",">
		(#{t.tag_name},#{t.post_id})
		</foreach>
	</insert>
	
	
	
	
</mapper>
